* {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #222;
  color: white;
  margin: 0;
  padding: 20px;
  background-image: url(tuba4k.jpg);
  background-size: 100%;
}
h1 {
  font-size: 2em;
}
.question-container {
  margin: 20px auto;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.option {
  padding: 12px;
  margin: 8px;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  transition: background 0.3s, transform 0.2s;
}
.option:hover {
  transform: scale(1.05);
  background: rgba(247, 243, 243, 0.4);
}
.correct {
  background-color: #28a745 !important;
  color: white;
}
.incorrect {
  background-color: #dc3545 !important;
  color: white;
}
#next-button {
  display: none;
  align-items: center;
  margin: 10px auto;
  padding: 20px 48px;
  background-color: rgba(247, 243, 243, 0.4);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}
#next-button:hover {
  background-color: #0056b3;
}
#next-button {
  align-items: center;
  margin: 10px auto;
  padding: 20px 48px;
  background-color: rgba(247, 243, 243, 0.4);
  color: rgb(0, 0, 0);
  border-radius: 20px;
}
button {
  align-items: center;
  margin: 10px auto;
  padding: 20px 48px;
  background-color: rgba(247, 243, 243, 0.4);
  color: rgb(0, 0, 0);
  border-radius: 20px;
}
